#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_BOARD DIALOG 0, 0, 250, 600
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Leaderboard"
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "", IDC_BOARD, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SINGLESEL | LVS_LIST, 20, 60, 210, 520
    PUSHBUTTON      "Load", IDC_LOAD, 100, 20, 45, 20
}
