#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_BOARD DIALOG 0, 0, 250, 400
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Leaderboard"
FONT 10, "Ms Shell Dlg"
{
    CONTROL         "", IDC_BOARD, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SINGLESEL | LVS_LIST, 20, 60, 210, 320
    PUSHBUTTON      "Load", IDC_LOAD, 105, 20, 45, 20
}

IDD_INPUT DIALOG 0, 0, 200, 120
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Game over"
FONT 10, "Ms Shell Dlg"
{
    LTEXT           "Unesite vaš nick", IDC_STATIC, 70, 20, 102, 8, SS_LEFT
    EDITTEXT        IDC_INPUT_NICK, 50, 45, 100, 15, ES_AUTOHSCROLL
    PUSHBUTTON      "Confirm", IDC_CONFIRM, 50, 80, 100, 20
}
